In [1]:
print('hello')

hello

In [2]:
1+1

2

In [3]:
1+2

3

In [4]:
print(1+1)

2

In [5]:
seq = [1,2,3,4,5]

In [6]:
for num in seq:
    print(num)

1
2
3
4
5

In [7]:
i = 1

In [8]:
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [9]:
for x in seq:
    print (x)

1
2
3
4
5

In [10]:
range(10)

range(0, 10)

In [11]:
x = [1,2,3,4]

In [12]:
out = []

for num in x:
    out.append(num**2)

In [13]:
out

[1, 4, 9, 16]

In [14]:
[num**2 for num in x]

[1, 4, 9, 16]

In [15]:
out = [num**2 for num in x]

In [16]:
out

[1, 4, 9, 16]

In [17]:
def my_func(param1):
    print(param1)

In [18]:
my_func("Got that Func")

Got that Func

In [19]:
def my_func_name(name = 'Default Name'):
    print('Hello ' + name)

In [20]:
my_func_name()

Hello Default Name

In [21]:
my_func_name("Josh")

Hello Josh

In [22]:
def square(num):
    """
    This is a docstring.
    """
    return num**2

In [23]:
output = square(2)

In [24]:
output

4

In [25]:
square

In [33]:
lambda var: var*2

In [31]:
times2(5)

10

In [34]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [35]:
list(filter(lambda num:num%2==0, seq))

[2, 4]

In [36]:
s = 'hello my name is Josh'

In [41]:
s.split()

['hello', 'my', 'name', 'is', 'Josh']

In [42]:
tweet = 'Go Sports! #Sports'

In [44]:
tweet.split('#')[1]

'Sports'

In [47]:
d = {'k1' : 1, 'k2': 2}

In [48]:
d.keys()

dict_keys(['k1', 'k2'])

In [49]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [50]:
d.values()

dict_values([1, 2])

In [51]:
lst = [1,2,3]

In [52]:
lst.pop()

3

In [53]:
lst

[1, 2]

In [54]:
lst = [1,2,3,4,5]

In [55]:
item = lst.pop()

In [56]:
lst

[1, 2, 3, 4]

In [57]:
item

5

In [58]:
first = lst.pop(0)

In [59]:
first

1

In [60]:
lst

[2, 3, 4]

In [61]:
'x' in [1,2,3]

False

In [62]:
'x' in ['x','y','x']

True

In [63]:
x = [(1,2), (3,4), (5,6)]

In [65]:
x[0][1]

2

In [69]:
for (a,b) in x:
    print(b)

2
4
6